<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Thêm nhân viên</title>
<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/theme.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar {
	z-index: 3;
	width: 280px;
	top: 43px;
	bottom: 0;
	height: inherit;
}

th, td {
	padding: 8px;
}

.container {
	display: grid;
	grid-gap: 10px;
	/*   height: 70vh; */
	/*   grid-template-areas:  */
	/*     "A A A A   A A A A   B B B B   B B B B" */
	/*     "C C C C   C C C C   D D D D   D D D D" */
	/*     "E E E E   E E E E   E E E E   E E E E"; */
	grid-template-areas: "O O O O   O O O O" "A A A A   B B B B"
		"C C C C   D D D D" "E E E E   E E E E";
	/*   background-color: #2196F3; */
	background: #06c60052;
	padding: 10px;
}

.container>div {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px 10px;
}

.box-0 {
	grid-area: O;
}

.box-1 {
	grid-area: A;
}

.box-2 {
	grid-area: B;
}

.box-3 {
	grid-area: C;
}

.box-4 {
	grid-area: D;
}

.box-5 {
	grid-area: E;
}
</style>
</head>
<body>
	<!-- Navbar -->
	<div class="w3-top">
		<div class="w3-bar w3-theme w3-top w3-left-align w3-large">
			<a
				class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1"
				href="javascript:void(0)" onclick="w3_open()"><i
				class="fa fa-bars"></i></a> <a href="#"
				class="w3-bar-item w3-button w3-theme-l1">SAIGON TRAVEL</a> <a href="#"
				class="w3-bar-item w3-button w3-hide-small w3-hover-white">Giới thiệu</a>
<!-- 			<a href="#" -->
<!-- 				class="w3-bar-item w3-button w3-hide-small w3-hover-white">Values</a> -->
<!-- 			<a href="#" -->
<!-- 				class="w3-bar-item w3-button w3-hide-small w3-hover-white">News</a> -->
<!-- 			<a href="#" -->
<!-- 				class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a> -->
<!-- 			<a href="#" -->
<!-- 				class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Clients</a> -->
<!-- 			<a href="#" -->
<!-- 				class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Partners</a> -->
		</div>
	</div>

	<!-- Sidebar -->
	<nav
		class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left"
		id="mySidebar">
		<a href="javascript:void(0)" onclick="w3_close()"
			class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large"
			title="Close Menu"> <i class="fa fa-remove"></i>
		</a>
		<h4 class="w3-bar-item">
			<b>Danh sách chức năng</b>
		</h4>
		<a class="w3-bar-item w3-button w3-hover-black" href="/"> <img
			th:src="@{/images/iconhome.png}" width="32" height="32"></img>&nbsp;Trang
			chủ
		</a> <a class="w3-bar-item w3-button w3-hover-black" href="/tours">
			<img th:src="@{/images/icons8-plane-60.png}" width="32" height="32"></img>&nbsp;Quản
			lý Tour
		</a> <a class="w3-bar-item w3-button w3-hover-black" href="/DoanDuLich"> <img
			th:src="@{/images/icons8-tour-guide-48.png}" width="32" height="32"></img>&nbsp;Quản
			lý đoàn
		</a> <a class="w3-bar-item w3-button w3-hover-black" href="/QL_NhanVien"> <img
			th:src="@{/images/icons8-employee-64.png}" width="32" height="32"></img>&nbsp;Quản
			lý nhân viên</a>
<!-- 		 
<a class="w3-bar-item w3-button w3-hover-black" href="#"><img -->
<!-- 			th:src="@{/images/chart-icon.png}" width="32" height="32"></img>&nbsp;Thống -->
<!-- 			kê </a> -->
	</nav>

	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large" onclick="w3_close()"
		style="cursor: pointer" title="close side menu" id="myOverlay"></div>

	<div class="w3-main" style="margin-left: 280px">
		<div class="w3-row w3-padding-64 center-table">
			<h1>Thêm nhân viên mới</h1>
			<div class="container">
				<div class="box-0">
					
					<h3>
						Mã nhân viên: <span style="font-size: 1.4em"
							id="nhanVienMoi" th:text="${nhanVienMoi.getMaNhanVien()}"></span>
					</h3>

					<form action="/QL_NhanVien/confirm_AddNhanVien" method="post">
						<label for="name">Tên nhân viên:</label> &nbsp; <input
							type="text" name="name"
							th:placeholder="${nhanVienMoi.getTenNhanVien()}" th:value="${nhanVienMoi.getTenNhanVien()}" required/> &nbsp;&nbsp;&nbsp;&nbsp; 
						
						<label
							for="gender">Giới tính:</label> &nbsp;<select id="gender"
							name="gender">
							<option value="Nam">Nam</option>
							<option value="Nữ">Nữ</option>
						</select> &nbsp;&nbsp;&nbsp;&nbsp; 
						
						<label for="phone">Số điện thoại:</label>&nbsp;
							<input type="tel" id="phone" name="phone" pattern="[0]{1}[0-9]{8}[0-9]{0,2}" 
							th:placeholder="${nhanVienMoi.getSDT()}" th:value="${nhanVienMoi.getSDT()}" required/>  
						<br><br>
						
						<label for="ngaySinh">Ngày sinh:</label>&nbsp;
							<input type="date" id="ngaySinh" name="ngaySinh" th:value="${formatNgaySinh}">
							
						<br><br>
						<label for="diaChi">Địa chỉ:</label> <br>
						<textarea rows="3" cols="100" name="diaChi" required
							th:placeholder="${nhanVienMoi.getDiaChi()}" th:text="${nhanVienMoi.getDiaChi()}"></textarea> <br><br> 
						
						<label for="trangThai">Trạng thái:</label> &nbsp;
							<select name="trangThai">
								<option value="Đang làm việc">Đang làm việc</option>
								<option value="Nghỉ việc">Nghỉ việc</option>
							</select> &nbsp;&nbsp; <br> <br> 
						
						<label for="luong">Lương:</label> &nbsp; <input
							type="number" name="luong" step="100000" min="1000000" max="500000000" required
							th:value="${nhanVienMoi.getLuong()}"
							th:placeholder="${nhanVienMoi.getLuong()}"/> <br><br>
						
						<input type="hidden" th:value="${nhanVienMoi.getMaNhanVien()}"
							th:attr="name='maNV'" /> 
						<input type="hidden" th:value="${nhanVienMoi.getGioiTinh()}" id="oldGender"
							th:attr="name='oldGender'" /> 
						<input type="submit" value="Thêm nhân viên">
					</form>

				</div>

			</div>
		</div>
	</div>

	<script>
		// Get the Sidebar
		var mySidebar = document.getElementById("mySidebar");

		// Get the DIV with overlay effect
		var overlayBg = document.getElementById("myOverlay");

		// Toggle between showing and hiding the sidebar, and add overlay effect
		function w3_open() {
			if (mySidebar.style.display === 'block') {
				mySidebar.style.display = 'none';
				overlayBg.style.display = "none";
			} else {
				mySidebar.style.display = 'block';
				overlayBg.style.display = "block";
			}
		}

		// Close the sidebar with the close button
		function w3_close() {
			mySidebar.style.display = "none";
			overlayBg.style.display = "none";
		}

		function doiTenTour() {
			let newName = document.getElementById("tenTourMoi").innerHTML;
			document.getElementById("tenTourHienTai").innerHTML = newName;
		}
		
		var temp = document.getElementById('oldGender').value;
		var mySelect = document.getElementById('gender');

		for(var i, j = 0; i = mySelect.options[j]; j++) {
		    if(i.value == temp) {
		        mySelect.selectedIndex = j;
		        break;
		    }
		}
	</script>
</body>
</html>